@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
    overflow-x: hidden;
    height: auto;
    width: 100%;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: gray;
}
::-webkit-scrollbar-thumb{
  background: rgb(44, 44, 44);
}
/* Header */
.header-container{
    font-size: 15px;
}
.header-container .drop-down:hover i {
  transform: rotate(180deg);
}
.header-container i {
  transition: all 500ms ease-in-out;
}
.drop-down:hover ul {
  display: block;
}
.header-container a:hover {
  color: #d1291c;
}

.log-in{
  background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/login/login-banner.webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.insta-logo{
  color: black;
}

.swiper-pagination-bullet{
  background: black !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  background-color: red !important;
}

.scroll::-webkit-scrollbar{
  display: none;
}
